<% include partials/header.ejs %>

    <form action="/signup" method="post">
        <input type="text" name = 'username' placeholder="username">
        <input type="password" name = 'password' placeholder="password">
        <button>submit</button>
    </form>



<% include partials/footer.ejs %>